/* Spindr Styling */

.spindr {
	background-color: #fdf7eb;
	color: #343434;
	margin: 0px auto;
	margin-bottom: 1rem;
	padding: 0px;
	min-height: 10.2rem;
	min-width: 6rem;
	/*height: 400px;
	width: 200px;*/
}

.innerContent {
	width: 50%;
	height: 90%;
	margin: 0 auto;
	min-height: 10.2rem; /*ratio of 1.7H for ever 1W to create a tinder-looking card/profile type thing*/
	min-width: 6rem;
}

.pollieProfile {
	height: 65%;
}

.staticSpindrButtons {
	height: 25%;
	margin: 0px auto;
}

/* Image behaviour */

img {
	max-width: 300px;
}

/* Buttons */

.button {
	border-radius: 50%;
	width: 3rem;
	height: 3rem;
	margin: 1rem;
}

.noButton {
	background-color: red;
}

.yesButton {
	background-color: green;
}

.menuButton {
	background-color: transparent;
	width: 2rem;
	height: 2rem;
}

.icon {
	width: 4em;
}

.iconSmall {
	width: 2em;
	margin-top: 1em;
}