
/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: " ";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}


/*****************************
          BASE STYLE
*****************************/

body {
  width: 100%;
  min-width: 504px;
  margin: 0px;
  font-family: monospace;
}

/* Header */

header {
  background-color: #f15d5d;
  color: #fffdd6 ;
  margin: 0px;
  height: 18%;
  padding: 4px 0px
}

.header {
  background-color: #f15d5d;
  color: #fffdd6 ;
  margin: 0px;
  height: 18%;
  padding: 4px 0px;
}

.headHome {
  text-align: center;
}

h1 {
  margin: 0px;
  font-size: 3rem;
}

h1 a {
  text-decoration: none;
  color: #fffdd6;
  font-size: 3rem;
}

/* Nav */

.nav {
  text-align: center;
}

ul {
  list-style: none;
  padding: 0px;

}

li {
  display: inline;
  margin: 0px 1rem;
}

.nav a {
  text-decoration: none;
  color: #fffdd6;
  font-size: 1.2rem;
}

/* Main */

main {
  width:  89%;
  min-height: 73%;
  padding: 4px 0px;
  text-align: center;
  margin: 0px auto;
}

/* Footer */

footer {
  background-color: #f15d5d;
  color:  #fffdd6;
  text-align: center;
  height: 11%;
  width: 100%;
  padding: 1rem;
  font-size: 1rem;
}

/* */

/* */

/* */

/* ### Spindr Page ### */

#spindrApp {
    
}

.spindrSearch {
  margin-top: 1rem;
  margin-bottom: 1rem;
  
}

form {
  margin: auto;
}

.cardContainer {
  position: relative;
  height: 400px;
  width: 250px;
  margin: 0px auto;
}

.innerContent {
  position: absolute;
  z-index: 1;
}

.pollieCard.notdone {
    z-index:99;
}

.sorryMsg {
    margin-top: 1 rem;
}

#sorryMsg p {
  margin:   0px;
}

/* Spindr Animations */

/*rotate-left*/
.removed {
  transform: rotate(-30deg) scale(0.8);
  transition: 1s;
  opacity: 0;
  margin-left: -400px;
  cursor: w-resize;
}


/*rotate-right*/
.matched {
  transform: rotate(30deg) scale(0.8);
  transition: 1s;
  margin-left: 400px;
  cursor: e-resize;
  opacity: 0;
}